/* .error{
    width: 100%;
    padding: 15px 0;
    background-color: red;
    text-align: center;
} */
/* .loader{
    align-items: center;
    justify-content: center;
    display: flex;
}
.Rings{
    background-color: red;
} */